body {
    font-family: 'Arial', 
    sans-serif;
  }
  h2 {
    color: #007bff;
  }
  
.landing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures that the container takes up the full height of the viewport */
}

.todo-header {
  color: #007bff;
}
  input {
    margin-right: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }